/* Barra de Acessibilidade */
.accessibility-bar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: #333;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    z-index: 1000;
    transition: right 0.3s ease;
}

/* Estilo para ocultar a barra */
.accessibility-bar.hidden {
    right: -50px;
}

/* Botão de Ocultar/Mostrar */
.accessibility-toggle {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background: #444;
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s ease;
}

.accessibility-toggle:hover {
    background: #555;
}

.accessibility-toggle i {
    font-size: 24px;
}

/* Botões de Acessibilidade */
.accessibility-btn {
    background: #444;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background 0.3s;
}

.accessibility-btn:hover {
    background: #555;
}

.accessibility-btn i {
    font-size: 20px;
}

/* Estilos para Alto Contraste */
.high-contrast {
    background-color: #000;
    color: #FFD700; /* Amarelo Ouro */
}

/* Ajustes específicos para links e outros elementos */
.high-contrast a {
    color: #00FFFF; /* Ciano */
}

.high-contrast button, .high-contrast input, .high-contrast select {
    background-color: #FFD700;
    color: #000;
}

.high-contrast img {
    filter: invert(100%);
}

/* Estilos para Modo Escuro */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Estilos para Marcador */
.marker * {
    background: yellow !important;
    color: black !important;
}

/* Estilos para Linha Guia */
.line-guide *:hover {
    border-bottom: 2px solid red;
}
/* Estilo para a Linha Guia */
.line-guide-active {
    position: relative;
}

.line-guide-active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: red;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Faz com que o guia não interfira com outros elementos */
}

/* Estilo para o Marcador */
.marker-active {
    background-color: yellow !important;
    color: black !important;
} 

